
.labeltitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    color: #403f3f;
  }
  
  .main {
    display: block !important;
  }