<div fxLayout="row" fxLayout.lt-lg="row wrap" fxFlex="80">
  <div class="topline">
    <div class="lable-div"> 
    <label class="labeltitle"> My Channels </label>
    <button mat-raised-button  class="primary_btn btn-customization" >    <mat-icon style=" color:black; margin-right: 10px" fontIcon="add"></mat-icon> Add Channel </button>
    </div>
    <div class="arrow" style="margin-right: 30px;">
        <mat-icon style=" color:#ea504c; margin-right: 10px ; transform: rotate(180deg)" fontIcon="trending_flat"></mat-icon>
        <mat-icon style=" color:#ea504c; margin-right: 10px" fontIcon="trending_flat"></mat-icon>
    </div>
</div>
    <div style="display: flex;">

    </div>
    </div>
