:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    align-items: flex-start;
}

app-sidebar {
    border-right: 1px solid #ccc;
    max-width: 295px;
    width: 100%;
}