.input-field {
  background-image: "";
  background-repeat: no-repeat;
  border: 1px solid transparent !important;
}
.form-field {
  width: 470px !important;
  background-color: #ffffff !important;
  border: 1px solid #5b6ad0;
  border-radius: 10px !important;
}

mat-form-field{
    margin: 0 !important;
    padding: 0 !important;
}
