<div class="header">
    <div class="nav">
        <div class="logo">
            <a href="#" class="simple-text">
                <div class="logo-img">
                    <img src="../../../../assets/images/ascendant.png" />
                </div>
            </a>
        </div>
        <div class="seacrchbar center">

        </div>
        <div class="userprofile">

            <div class="logo-img">
                <img src="../../../../assets/images/avatar.png" />

            </div>
            <div class="name">
                <h1 class="title">Ascendant</h1>
                <p class="position">
                    Company Account
                </p>
            </div>
            <div class="notification">
                <mat-icon aria-hidden="false" aria-label="Example home icon"
                    style="   transform: rotate(90deg); margin-right: 10px;" fontIcon="chevron_right"></mat-icon>
            </div>
        </div>
    </div>
</div>