<div class="header">
    <div class="nav">
        <div class="logo">
            <a href="#" class="simple-text">
                <div class="logo-img">
                    <img src="../../../../assets/images/ascendant.png" />
                </div>
            </a>
        </div>
        <div class="seacrchbar center">
            <!-- <input type="text" class="txt" name="filter" placeholder="  Search for people" /> -->
        </div>
        <div class="userprofile">

            <div class="logo-img">
                <img src="../../../../assets/images/avatar.png" />

            </div>
            <div class="name">
                <h1 class="title">Ascendant</h1>
                <p class="position">
                    Company Account
                </p>
            </div>
            <div class="notification">
                <img src="../../../../assets/images/downbtn.png" />
            </div>
        </div>
    </div>
</div>