<div style="position: relative;">
    <form class="nav-form" role="search">
        <div class="input-search">
            <input type="text" class="form-control pl-16" [formControl]="searchControl"(keydown.enter)="$event.preventDefault()" placeholder="Search">
            <button class="input-search-btn">
                <i class="ri-search-line icon"></i>
            </button>

            <img *ngIf="loading" src="/assets/images/new-loader.gif" alt="" style="position: absolute; right: 16px; height: 52px; top: -8px;">
        </div>
    </form>

    <div *ngIf="showResult" class="w-100-p card grey bg-grey-100" style="position: absolute; z-index: 1;">
        <div style="max-height: 252px; overflow: auto; position: relative; padding: 8px;">
            <ng-container *ngFor="let item of searchResult; let last=last">
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" class="pointer h-28" (click)="onSelectResult(item)">
                    <div>{{item.search_text}}</div>
                    <div class="bg-grey-300 lh-13" style="padding: 4px; border-radius: 4px;">{{item.type}}</div>
                </div>
                <hr class="p-0 m-0" *ngIf="!last">
            </ng-container>
        </div>
    </div>
</div>