:host {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins";
  background: #fff;
}
.sidebar {
  bottom: 0;
  display: flex;
  flex-flow: column;
  float: left;
  left: 0;
  background-color: #fdfdfd;
  position: fixed;
  left: 0;
  top: 0;
  width: 295px;
  background: #fdfdfd;
  box-shadow: 0px -1.02299px 19.4368px rgba(42, 68, 118, 0.23);
  border-radius: 15.3448px;
  @media only screen and (max-width: 600px) {
    width: 200px;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    width: 200px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    width: 260px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    width: 295px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    width: 295px;
  }

  .logo {
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
    .logo-img {
      max-width: 221px;
      margin: 0 auto 40px;
    }
  }

  .border-white {
    border: 1px solid white;
  }
  .side-nav-content {
    color: #bfbfbf;
    width: 295px;
    margin: 0;
    @media only screen and (max-width: 600px) {
      width: 200px;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      width: 200px;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      width: 260px;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      width: 295px;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      width: 295px;
    }
  }
  .nav-list {
    list-style: none;
    height: 100%;
    padding: 0%;
    margin-bottom: 0%;
  }
  .nav-list-item {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    position: relative;
    margin: 0 10px;
    border-radius: 8px;
    img {
      text-align: center;
      margin: 0 35px 0 30px;
      line-height: 25px;
    }

    span {
      width: 200px;
      text-transform: capitalize;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;

      /* identical to box height */

      a {
        text-decoration: none;
        color: #534f4f;
        &:hover {
          color: #ffffff;
        }
      }
     
    }
    &:hover {
      color: #ffffff;
      background-color: #2a4476;
      span a {
        color: #ffffff;
      }
      &:nth-child(1) {
        background-position-x: 34px;
        background-image: url(../../../../assets/images/dashboard_white.png);
      }

      &:nth-child(2) {
        background-position-x: 34px;
        background-image: url(../../../../assets/images/channel_white.png);
      }

      &:nth-child(3) {
        background-position-x: 34px;
        background-image: url(../../../../assets/images/door_white.png);
      }

      &:nth-child(4) {
        background-position-x: 34px;
        background-image: url(../../../../assets/images/door_white.png);
      }
      &:nth-child(5) {
        background-position-x: 34px;
        background-image: url(../../../../assets/images/lable_white.png);
      }
      &:nth-child(6) {
        background-position-x: 34px;
        background-image: url(../../../../assets/images/user_white.png);
      }
      &:nth-child(7) {
        background-color: #ea504c;
        color: #ffffff;
        background-position-x: 122px;
        background-image: url(../../../../assets/images/logout.png);
      }
      &:last-child() {
        background-position-x: 34px;
        background-image: url(../../../../assets/images/logout.png);
      }
    }
  }
  .images {
    content: "";
    background-repeat: no-repeat;
    &:nth-child(1) {
      background-position-x: 34px;
      background-position-y: 17px;
      background-image: url(../../../../assets/images/dashbaord_black.png);
    }
    &:nth-child(2) {
      background-position-x: 34px;
      background-position-y: 17px;
      background-image: url(../../../../assets/images/channel_black.png);
    }
    &:nth-child(3) {
      background-position-x: 34px;
      background-position-y: 17px;
      background-image: url(../../../../assets/images/door_black.png);
    }
    &:nth-child(4) {
      background-position-x: 34px;
      background-position-y: 17px;
      background-image: url(../../../../assets/images/door_black.png);
    }
    &:nth-child(5) {
      background-position-x: 34px;
      background-position-y: 17px;
      background-image: url(../../../../assets/images/lable_black.png);
    }
    &:nth-child(6) {
      background-position-x: 34px;
      background-position-y: 17px;
      background-image: url(../../../../assets/images/user_black.png);
    }
    &:nth-child(7) {
      
      background-position-x: 122px;
      background-position-y: 17px;
      background-image: url(../../../../assets/images/logout.png);
    }
    &:last-child() {
      background-position-x: 34px;
      background-image: url(../../../../assets/images/logout.png);
    }
  }
  .active {
    color: #ffffff;
    background-color: #2a4476;
    &:nth-child(1) {
      background-position-x: 34px;
      background-image: url(../../../../assets/images/dashboard_white.png);
    }

    &:nth-child(2) {
      background-position-x: 34px;
      background-image: url(../../../../assets/images/channel_white.png);
    }

    &:nth-child(3) {
      background-position-x: 34px;
      background-image: url(../../../../assets/images/door_white.png);
    }

    &:nth-child(4) {
      background-position-x: 34px;
      background-image: url(../../../../assets/images/door_white.png);
    }
    &:nth-child(5) {
      background-position-x: 34px;
      background-image: url(../../../../assets/images/lable_white.png);
    }
    &:nth-child(6) {
      background-position-x: 34px;
      background-image: url(../../../../assets/images/user_white.png);
    }
    &:nth-child(7) {
      background-color: #ea504c;
      color: #ffffff;
      background-position-x: 122px;
      background-image: url(../../../../assets/images/logout.png);
    }
    &:last-child() {
      background-color: #ea504c;
      background-position-x: 34px;
      background-image: url(../../../../assets/images/logout.png);
    }
    span a {
      color: #ffffff;
    }
  
  }
  a {
    text-decoration: none;
    color: #bfbfbf;
    &:hover {
      color: #ffffff;
    }
    &:active {
      color: #ffffff;
    }
  }
  .bottomlink {
    // margin-top: 60vh;
    // // bottom: 0;
    background-color: #ea504c;
    margin: 0px 40px;
    color: #ffffff !important;
    position: absolute;
    width: 50%;
    bottom: 13px;
    display: flex;
  }
}
