<div class="sidebar" style="background-color: #FAFAFA;">
    <!-- <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="../../../../assets/images/ascendant.png"  />
            </div>
        </a>
    </div> -->






    <div class="side-nav-content" style="margin-top: 180px;">
        <ul class="nav-list">
            <li class="nav-list-item images {{item.class}}" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact : true}" *ngFor="let item of menuItems ">
                <img *ngIf="item.img" class="images">
                <span>
                    <a class="{{item.class}}" [routerLink]="[item.path]">{{item.title}} </a>
                </span>
                <mat-icon *ngIf="item.img" aria-hidden="false" aria-label="Example home icon" style="    margin-right: 10px;"
                    fontIcon="chevron_right"></mat-icon>
            </li>
        </ul>
    </div>


</div>